body{
    padding: 0;
    margin: 0;
}
hr{
    color: #e0ac1e;
    width: 30%;
}
.deb-center{
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
}
input{
    outline: none;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: none;
    font-size: 20px;
    border-bottom: 2px solid #e0ac1e;
}
ul{
    text-decoration: none;
    color: #e0ac1e;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-left: 20%;
    margin-right: 15%;
    text-align: left;
    list-style: none; 
}
.emailmdp-style{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 30%;
}
.submit-button{
    cursor: pointer;
    color: white;
    text-align: left;
    margin-top: 15px;
    margin-left: 30%;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px;
    background: rgb(43, 42, 42);
}
.submit-button:hover{
    color:#e0ac1e;
}
.login-a{
    font-size: 18px;
    line-height: 20px;
    color: darkgray;
}
.login-a:hover{
    color:#e0ac1e;
}